@import '@style/utils/colors.scss';

.pagination_container {
  list-style-type: none;
  padding: 0;
}

.pagination_item {
  min-width: 30px;
  box-sizing: border-box;
  padding: 8px;

  &:hover {
    background-color: $secondary-light;
    transform: translateY(-1px);
  }

  &:active {
    background-color: $secondary;
    transform: translateY(0);
    box-shadow: $secondary 1px 0 10px;
  }

  &--text {
    outline: 0;
    border: 0;
    background-color: $white;
    border-radius: 5px;
  }

  &--contained {
    color: $black;
    outline: 0;
    border: 0;
    border-radius: 5px;
  }

  &--outlined {
    outline: 0;
    border-radius: 5px;
    background-color: $white;
  }

  &--text-circle {
    outline: 0;
    border: 0;
    background-color: $white;
    border-radius: 100%;
  }

  &--contained-circle {
    color: $black;
    outline: 0;
    border: 0;
    border-radius: 100%;
  }

  &--outlined-circle {
    outline: 0;
    background-color: $white;
    border-radius: 100%;
  }

  &--small {
    font-size: 10px;
    line-height: 1.5;
    padding: 5px;
  }

  &--large {
    font-size: 20px;
    line-height: 0.8;
    padding: 12px;
  }

  &--active {
    background-color: $secondary-light;
  }

  &--disabled {
    border: none;
    color: $secondary-light;
    background-color: $white;
    cursor: none;
    box-shadow: none;
  
    &:hover,
    &:active,
    &:focus{
      color: $secondary-light;
      background-color: $white;
      cursor: not-allowed;;
      box-shadow: none;
      transform: none;
    }
  
    .icon{
      color: $secondary-light
    }
  }
}
