
$weights: 100, 300, 400, 500, 700, 900;

@each $weight in $weights {
  .fw--#{$weight} {
    font-weight: $weight;
  }
}

$step: 2px;

$sizes: 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14 , 15;

@each $size in $sizes {
  .fs-#{$size} {
    font-size: $size * $step;
  }
}