@import '@style/utils/colors.module.scss';

.modal {
  background-color: $white;
  z-index: 100;
  position: absolute;
  border-radius: 10px;
}

.modal-title {
  color: $danger;
}

.modal-body {
  text-align: center;
  margin: 0 auto;
}

.modal-body {
  font-size: 24px;
  color: $danger;
}

.modal-footer {
display: flex;
justify-content: center;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}